@model IEnumerable<Oblig1Vy.Model.ViewModels.StationVm>

@{
    ViewBag.Title = "Index";
}

<h2>Stasjonsoversikt</h2>

<p>
    @Html.ActionLink("Opprett ny stasjon", "AddStation", "Station")
</p>
<table class="table table-hover">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.StationName)
            </th>
            <th>Handlinger</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StationName)
        </td>
        <td>
            @Html.ActionLink("Endre", "UpdateStation", "Station", new { id=item.StationId }, null) |
            @Html.ActionLink("Slett", "DeleteStation", "Station", new { id=item.StationId }, null)
        </td>
    </tr>
}

</table>
