@model IEnumerable<Oblig1Vy.ViewModels.DepartureTimeVm>

@{
    ViewBag.Title = "DepartureTimes";
}

<h2>Velg avgang</h2>

@using (Html.BeginForm())
{
    <table class="table">


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureStation)<br />
                    <p>@item.DepartureStationTime.ToString("hh\\:mm")</p>
                </td>
            </tr>
            <tr class="hidden" id="stopsDisplay">
                <td>
                    @foreach (var station in Model)
                    {
                        foreach (var stop in station.Stops)
                        {
                            @Html.DisplayFor(modelItem => stop.Name)<br />
                            <p>@stop.DepartureTime.ToString("hh\\:mm")</p>
                        }
                    }
                </td>
            </tr>


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalStation)<br />
                    <p>@item.ArrivalStationTime.ToString("hh\\:mm")</p>
                </td>

            </tr>
            <tr>
                <td>
                    <input type="submit" class="btn" value="Velg reise" />
                    <input type="hidden" name="tripId" value="@item.TripId" />
                    <input type="hidden" name="date" value="@ViewBag.TicketDate.ToString("yyyy-MM-dd HH:mm:ss")" />
                    <input type="hidden" name="departureStationId" value="@item.DepartureStationId" />
                    <input type="hidden" name="arrivalStationId" value="@item.ArrivalStationId" />
                </td>
            </tr>
        }

    </table>
}

    @section scripts
{
        <script type="text/javascript">

            $(function () {
                $("#stopsDisplay").click()
            })


        </script>
    }