
@model Oblig1Vy.ViewModels.TravelSearchVm
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<div class="row">
    <div class="col-md-12">
        <h1>Kjøp billeter:</h1>
    </div>
</div>
<div class="container">
    @using (Html.BeginForm())
    {

        <div class="form-horizontal">

            <hr />

            <div class="form-inline ui-widget datepicker col-lg-12 col-md-12" align="center">
                <table class="col-md-3">
                    <tr>
                        <th>Reise Til</th>
                    </tr>
                    <tr>
                        <td>@Html.TextBox("departureSearch", null, new { @class = "form-control", id = "depSearch", placeholder = "Avgang" })</td>
                    </tr>

                </table>
                <table class="col-md-3">
                    <tr>
                        <th>Reise til</th>
                    </tr>
                    <tr>
                        <td>@Html.TextBox("arrivalSearch", null, new { @class = "form-control", id = "arrSearch", placeholder = "Ankomst" })</td>
                    </tr>
                </table>
                <table class="col-md-3">
                    <tr>
                        <th>Når</th>
                    </tr>
                    <tr>
                        <td>@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "datepick form-control col-md-3" } })</td>
                    </tr>
                </table>        

                 <input type="hidden" name="DepartureId" id="depSearch-id" value="" />
                 <input type="hidden" name="ArrivalId" id="arrSearch-id" value="" />
                 <div class="col-md-12">
                     <br />
                     <input type="submit" value="Søk" class="btn btn-primary" id="searchButton" />
                 </div>
            </div>

        </div>
    }



</div>
@section scripts {
    <script type="text/javascript">
        


        $(function () {

            //$("#datepicker").datepicker();


            $("#depSearch").autocomplete({
                source: "@Url.Action("AutoComplete")",

                focus: function(event, ui) {
                    $("#depSearch").val(ui.item.StationName);
                    
                    return false;
                },

                select: function(event, ui) {
                    $("#depSearch").val(ui.item.StationName);
                    $("#depSearch-id").val(ui.item.StationId);
            
                    return false;
                }
            }).autocomplete("instance")._renderItem = function(ul, item) {
                return $("<li>")
                    .append(item.StationName)
                    .appendTo(ul);
                };
            $("#arrSearch").autocomplete({
                source: "@Url.Action("AutoComplete")",

                focus: function(event, ui) {
                    $("#arrSearch").val(ui.item.StationName);
                    
                    return false;
                },

                select: function(event, ui) {
                    $("#arrSearch").val(ui.item.StationName);
                    $("#arrSearch-id").val(ui.item.StationId);
            
                    return false;
                }
            }).autocomplete("instance")._renderItem = function(ul, item) {
                return $("<li>")
                    .append(item.StationName)
                    .appendTo(ul);
                };
        });

    </script>
}