@model Oblig1Vy.Model.ViewModels.LineVm

@{
    ViewBag.Title = "DeleteLine";
}

<h2>Slett togrute</h2>

<h3>Er du sikker på at du vil slette denne togruten?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureStation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureStation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalStation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalStation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Tilbake", "Index")
        </div>
    }
</div>
