@model IEnumerable<Oblig1Vy.Model.ViewModels.LineVm>

@{
    ViewBag.Title = "Index";
}

<h2>Oversikt togruter</h2>

<p>
    @Html.ActionLink("Opprett ny togrute", "AddLine", "Line")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureStation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalStation)
        </th>
        <th>Handlinger</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureStation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalStation)
        </td>
        <td>
            @Html.ActionLink("Endre", "UpdateLine", "Line", new { id=item.Id }, null) |
            @Html.ActionLink("Slett", "DeleteLine", "Line", new { id=item.Id }, null)
        </td>
    </tr>
}

</table>
